.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: white;
  align-items: center;
  /* min-width: 40%; */
  width: 400px;
  max-width: 40%;
  padding: 20px 30px;
  background-color: blanchedalmond;
}

.image {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
